autopep8
coverage
ensae_projects>=0.1.427
fastrlock
fcn
folium
gizeh
hachibee_sphinx_theme
imageio
imageio-ffmpeg
jupyter_sphinx
jyquickhelper
moviepy==1.0.0
opencv-python
pycodestyle
pyensae>=1.2.788
pydicom
pymmails
pylint
pyproj
pyquickhelper>=1.9
pyshp
pytube3
shapely
sphinx_gallery
tutormagic
wheel
