coverage
ensae_projects>=0.1.419
fastrlock
fcn
folium
gdown
gizeh
hachibee_sphinx_theme
imageio
jyquickhelper
moviepy
opencv-python
pyensae
pymmails
pyproj
pyquickhelper>=1.8
pyshp
pytube>=9.0.6
shapely
tutormagic
wheel
