antlr4-python3-runtime
autopep8
babel!=2.0
blockdiag
chainer
coverage
ensae_projects
fcn
folium
gdown
hachibee_sphinx_theme
jyquickhelper
mpld3
mutagen
pycodestyle>=2.0.0
pydocstyle
pyensae
pymmails
pymyinstall
pyquickhelper>=1.5.2259
pyshp
qgrid
semantic_version
shapely
sphinx-gallery
sphinxcontrib-images
sphinxcontrib-imagesvg
sphinxcontrib-jsdemo
sphinxjp.themes.basicstrap
sphinxjp.themes.revealjs
sphinxjp.themes.sphinxjp
tqdm
tutormagic
unify
wheel
